@using System.ComponentModel
@using Microsoft.AspNetCore.Blazor.Components

@if (Errors.Any())
{
  <div class="validationerror">
    <ul>
      @foreach (var error in Errors)
      {
        <li>@error</li>
      }
    </ul>
  </div>
}

@functions {

    [Parameter]
    protected object Subject { get; set; }

    [Parameter]
    protected string Property { get; set; }

    public IEnumerable<string> Errors
    {
      get
      {
        switch (Subject)
        {
          case null:
            yield return $"{nameof(Subject)} has not been set!";
            yield break;
          case IDataErrorInfo ide:
            if( Property == null )
            {
              yield return $"{nameof(Property)} has not been set!";
              yield break;
            }
            string error = ide[Property];
            if (error != null)
            {
              yield return error;
            }
            else
            {
              yield break;
            }
            break;
          case INotifyDataErrorInfo ine:
            foreach (var err in ine.GetErrors(Property))
            {
              yield return (string)err;
            }
            break;
        }
      }
    }
}